---
layout: default
---

<div class="banner">
  <div class="container">
    <div class="img-wrapper">
      <img src="assets/img/logo.png" alt="Microsoft Translator Logo">
    </div>
    <h1>Translator</h1>
  </div>
</div>

<div class="buttons container">
  <div class="row">
    {% for language in site.data.languages %}
    <div class="col-sm-6 col-md-4">
      <button type="button" class="btn btn-primary btn-lg language"
              data-toggle="modal"
              data-target="#language_modal_{{language.code}}"
              data-lang="{{language.code}}"
              data-lang-name="{{language.english_name}}">
        <span lang="{{ language.code }}" dir="{{ language.dir }}">
          {{ language.i_speak }}
        </span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
      </button>
    </div>
    {% endfor %}
  </div>
</div>

<div class="other">
  <a href="{{ site.app_url }}" class="btn btn-link btn-lg other">Other</a>
</div>

{% for language in site.data.languages %}
{% include modal.html language=language %}
{% endfor %}

{% include checkmark.html %}
