---
layout: default
---

<div class="buttons container">
  <div class="row">
    {% for language in site.data.languages %}
    <div class="col-sm-6 col-md-4">
      <button type="button" class="btn btn-primary btn-lg"
              data-toggle="modal"
              data-target="#language_modal_{{language.code}}"
              data-lang="{{language.code}}">{{ language.i_speak }}</button>
    </div>
    {% endfor %}
  </div>
</div>

{% for language in site.data.languages %}
{% include modal.html language=language %}
{% endfor %}

{% include checkmark.html %}
