<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Microsoft Translator">
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

  <title>{{ site.title }}</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

  <style>
    {% include vendor/css/ie10-viewport-bug-workaround.css %}
    {% include assets/css/fonts.css %}
    {% include assets/css/checkmark.css %}
    {% include assets/css/styles.css %}
  </style>

  <!--[if lt IE 9]>
    <script src="vendor/js/html5shiv.min.js"></script>
    <script src="vendor/js/respond.min.js"></script>
  <![endif]-->

  <script>
    window.msft = window.msft || {};
    window.msft.translator = window.msft.translator || {};
    window.msft.translator.appUrl = '{{ site.app_url }}';
  </script>
</head>
