body {
  padding-top: 50px;
}

body.checkmark-visible {
  overflow: hidden;
}

.banner {
  background-color: #107c10;
  color: white;
  margin-bottom: 4em;
  padding: 1em 0;
  vertical-align: middle;
}

.banner .img-wrapper {
  background-color: white;
  border-radius: 10rem;
  box-sizing: content-box;
  display: inline-block;
  max-width: 7rem;
  max-height: 7rem;
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  vertical-align: middle;
}

.banner img {
  height: 100%;
  width: 100%;
}

.banner h1 {
  display: inline-block;
  margin: 1rem 0;
  padding: 0;
  vertical-align: middle;
}

.buttons.container .btn {
  margin-bottom: 1em;
  padding: 2em 0;
  width: 100%;
}

.navbar-brand img {
  max-height: 100%;
  max-width: 100%;
}

.checkmark-background {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 10px 0 60px;
  transition: opacity .4s;
  z-index: 500;
}

.checkmark-background > .container {
  height: 100%;
  padding: 2em 2em 2.5em;
  text-align: center;
}

.checkmark-background.transparent {
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}
